{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% block title %}{% endblock %} | SiGOS-UFCAT
    </title>
    {% tailwind_css %}
    {% load static %}
    <script src="{% static 'js/htmx/htmx.min.js' %}" defer></script>
    <link href="https://fonts.cdnfonts.com/css/rawline" rel="stylesheet" />
  </head>
  <body class="font-rawline">
    {% block body %}
    {% endblock %}
  </body>
</html>
