{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="O SiGOS-UFCAT é um sistema de gerenciamento de ordens de serviço, projetado para otimizar operações e aumentar a produtividade na UFCAT. Gerencie, acompanhe e organize solicitações de serviço de forma fácil e eficiente.">
    <meta name="keywords"
          content="sistema, gerenciamento, orderm de serviço, UFCAT">
    {% include "global/partials/head.html" %}
    {% block head %}
    {% endblock head %}
    {# djlint: off #}
    <title>{% block title %}{% endblock title %} | SiGOS-UFCAT</title>
    {# djlint: on #}
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="font-rawline">
    <div class="flex flex-col justify-between min-h-screen gap-3">
      <div>
        {% include "global/partials/navbar.html" %}
        <main class="w-full px-4 py-6 mx-auto max-w-7xl md:px-10">
          {% block main %}
          {% endblock main %}
        </main>
      </div>
      {% include "global/partials/footer.html" %}
    </div>
    {% include "global/partials/toast.html" %}
    <script src="{% static "js/toast.js" %}"></script>
    {% block js %}
    {% endblock js %}
  </body>
</html>
