{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    {% include "global/partials/head.html" %}
    <meta name="description" content="Work Order Management System">
    <meta name="keywords" content="work order, management">
    <title>
      {% block title %}
      {% endblock title %}
      | SiGOS-UFCAT
    </title>
  </head>
  <body class="font-rawline">
    <div class="flex flex-col justify-between min-h-screen">
      <div>
        {% include "global/partials/navbar.html" %}
        <div class="px-16 py-8">
          <h1 class="mb-8 text-4xl font-extralight">
            {% block header %}
            {% endblock header %}
          </h1>
          <main>
            {% block content %}
            {% endblock content %}
          </main>
        </div>
      </div>
      {% include "global/partials/footer.html" %}
    </div>
  </body>
</html>
