{% extends "global/base.html" %}
{% load widget_tweaks %}
{% block title %}
  Painel de Controle
{% endblock title %}
{% block main %}
  <h1 class="mb-8 text-5xl font-extralight">Painel de Controle</h1>
  <div class="grid grid-cols-1 gap-16 md:grid-cols-3">
    <div class="flex flex-col gap-4">
      <a href=""
         class="flex items-center justify-between p-5 border shadow-xl text-primary">
        <i class="text-2xl fas fa-file-alt"></i>
        <span class="text-sm">Categorias</span>
      </a>
      <a href=""
         class="flex items-center justify-between p-5 border shadow-xl text-primary">
        <i class="text-2xl fas fa-users"></i>
        <span class="text-sm">Funcionários</span>
      </a>
    </div>
    <form action="{% block action %}{% endblock action %}"
          method="post"
          class="col-span-2">
      {% csrf_token %}
      <h2 class="mb-3 text-3xl font-light">
        {% block form_title %}
        {% endblock form_title %}
      </h2>
      {% block fields %}
      {% endblock fields %}
      <div class="flex flex-wrap justify-end w-full gap-3 mt-6 sm:w-auto">
        <a href=""
           class="btn border text-primary border-primary hover:bg-primary/[.08] w-full sm:w-auto">Voltar</a>
        <button type="submit"
                class="text-white btn bg-primary hover:bg-primary/[.95] w-full sm:w-auto">Adicionar</button>
      </div>
    </form>
  </div>
{% endblock main %}
