{% extends "global/base.html" %}
{% load static %}
{% block head %}
  <script defer src="{% static "vendor/alpine.mask.min.js" %}"></script>
  <script defer src="{% static "vendor/alpine.min.js" %}"></script>
{% endblock head %}
{% block title %}
  Painel de Controle
{% endblock title %}
{% block main %}
  <h1 class="mb-8 text-5xl font-extralight">Painel de Controle</h1>
  <div class="grid grid-cols-1 gap-y-8 md:gap-x-8 md:grid-cols-3">
    <div class="flex flex-col w-full col-span-1 gap-4">
      <a href="{% url "control_panel:category_list" %}"
         class="flex items-center justify-between p-5 border shadow-xl text-primary {% if "categorias" in request.path %}text-secondary{% endif %} %}">
        <i class="text-2xl fas fa-file-alt"></i>
        <span class="text-sm">Categorias</span>
      </a>
      <a href="{% url "control_panel:department_list" %}"
         class="flex items-center justify-between p-5 border shadow-xl text-primary {% if "departamentos" in request.path %}text-secondary{% endif %}">
        <i class="text-2xl fas fa-building"></i>
        <span class="text-sm">Departamentos</span>
      </a>
      <a href="{% url "control_panel:employee_list" %}"
         class="flex items-center justify-between p-5 border shadow-xl text-primary {% if "funcionarios" in request.path %}text-secondary{% endif %}">
        <i class="text-2xl fas fa-users"></i>
        <span class="text-sm">Funcionários</span>
      </a>
    </div>
    <div class="col-span-2">
      {% block content %}
      {% endblock content %}
    </div>
  </div>
{% endblock main %}
