{% load static %}
<nav class="sticky top-0 z-50 flex justify-between px-10 py-2 bg-white shadow-xl md:px-20">
  <a href="{% url "orders:home" %}">
    <img src="{% static "logo.svg" %}"
         alt="UFCAT logo"
         height="auto"
         width="auto">
  </a>
  <ul class="flex items-center gap-4 text-xs text-primary">
    <li>
      <a href="{% url "orders:home" %}" class="{% if request.path == "/" %}text-secondary{% endif %}">Home</a>
    </li>
    <li>
      <a href="{% url "orders:workorder_list" %}" class="{% if request.path == "/ordens/" %}text-secondary{% endif %}">Listar Ordens de Serviço</a>
    </li>
    <li>
      <a href="{% url "orders:workorder_form" %}" class="{% if request.path == "/ordens/novo/" %}text-secondary{% endif %}">
        Cadastrar Ordem de Serviço
      </a>
    </li>
    <li>
      <a href="{% url "orders:history" %}" class="{% if request.path == "/ordens/historico/" %}text-secondary{% endif %}">
        Histórico
      </a>
    </li>
  </ul>
</nav>
