{% extends "global/base.html" %}
{% block title %}
  Editar Ordem de Serviço
{% endblock title %}
{% block main %}
  <h1 class="mb-8 text-5xl font-extralight">Editar Ordem de Serviço</h1>
  <form action="{% url "orders:workorder_update" object.id %}"
        method="post"
        class="text-xs md:text-sm">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="p-4 mb-6 text-center text-red-600 border border-red-200 rounded-lg bg-red-50">
        <ul>
          {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
      </div>
    {% endif %}
    {% include "orders/partials/personal_info.html" %}
    {% include "orders/partials/order_details.html" %}
    {% include "orders/partials/report_details.html" %}
    <div class="flex justify-between">
      <button type="reset" class="btn text-primary hover:bg-primary/[.08]">
        <i class="mr-2 fa-solid fa-eraser"></i>Limpar Dados
      </button>
      <div class="flex gap-4">
        <a href="{% url "orders:workorder_list" %}"
           class="btn border text-primary border-primary hover:bg-primary/[.08]">Cancelar</a>
        <button type="submit" class="btn text-white bg-primary hover:bg-primary/[.6]">Salvar Alterações</button>
      </div>
    </div>
  </form>
{% endblock main %}
