{% extends "global/base.html" %}
{% load static %}
{% block head %}
  <script defer src="{% static "vendor/alpine.mask.min.js" %}"></script>
  <script defer src="{% static "vendor/alpine.min.js" %}"></script>
{% endblock head %}
{% block title %}
  Ordem #{{ work_order.id }}
{% endblock title %}
{% block main %}
  <div class="flex items-center justify-between mb-8">
    <h1 class="text-5xl font-extralight">Ordem #{{ work_order.id }}</h1>
    <a href="{% url "orders:workorder_update" work_order.id %}"
       class="text-white btn bg-primary hover:bg-primary/[.95] w-fit print:hidden">Editar</a>
  </div>
  {% include "orders/partials/detail_sections/personal_info.html" %}
  {% include "orders/partials/detail_sections/order.html" %}
  {% include "orders/partials/detail_sections/report.html" %}
  {% include "orders/partials/detail_sections/progress.html" %}
  {% include "orders/partials/detail_sections/attachment.html" %}
{% endblock main %}
