{% extends "global/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet"
        href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
{% endblock head %}
{% block title %}
  Listar
{% endblock title %}
{% block main %}
  {# djlint:off #}
  <table id="workOrdersTable" class="w-full text-sm font-normal table-auto">
    <thead class="text-primary bg-[#F0F0F0]"> 
      <tr class="text-left">
        <th>ID</th>
        <th>Título</th>
        <th>Categoria</th>
        <th>Data de Criação</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  {# djlint:on #}
{% endblock main %}
{% block js %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
  <script src="{% static "vendor/datatables-pt-BR.js" %}"></script>
  <script>
    $(document).ready(function () {
      $("#workOrdersTable").DataTable({
        serverSide: true,
        ajax: {
          url: "{% url 'orders:workorder_list_json' %}",
          type: "GET",
        },
        language: portuguese,
        columns: [
          { data: "id" },
          { data: "title" },
          { data: "category" }, 
          { data: "created_at" }, 
          { data: "status" },
        ],
        pagingType: "simple",
        layout: {
          topStart: "pageLength",
          topEnd: "",
          bottomStart: "info",
          bottemEnd: "paginate"
        },
        createdRow: function (row, data, dataIndex) {
          $(row).addClass("border-b")
        },
      });
    });
  </script>
{% endblock js %}
