{% extends "global/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/custom-data-tables.css" %}">
{% endblock head %}
{% block title %}
  Listar
{% endblock title %}
{% block main %}
  {% include "orders/partials/workorder_list_filters.html" %}
  {# djlint:off #}
  <table id="workOrdersTable" class="w-full text-sm font-normal table-auto display">
    <thead class="text-primary bg-[#F0F0F0]"> 
      <tr class="text-left">
        <th>Id</th>
        <th>Título</th>
        <th>Categoria</th>
        <th>Data de Criação</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
  </table>
  {# djlint:on #}
{% endblock main %}
{% block js %}
  <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
  <script src="{% static "vendor/dataTables-pt-br.js" %}"></script>
  <script src="{% static "orders/js/workorder_list.js" %}"></script>
{% endblock js %}
