<div class="py-6 px-4 shadow-2xl max-h-[600px]">
  <div class="flex items-baseline gap-2 mb-4 text-base font-semibold">
    <i class="fa-solid fa-chart-line" aria-hidden="true"></i>
    <h2>Status</h2>
  </div>
  {% if work_orders %}
    <canvas id="stats" class="w-full"></canvas>
    <ul class="flex flex-col gap-2">
      <li class="flex gap-2">
        <div class="w-6 h-6 bg-green-700"></div>
        Abertas
      </li>
      <li class="flex gap-2">
        <div class="h-6 w-6 bg-[#711e6c]"></div>
        Em Andamento
      </li>
      <li class="flex gap-2">
        <div class="w-6 h-6 bg-gray-700"></div>
        Fechadas
      </li>
    </ul>
  {% else %}
    <div class="flex items-center justify-center h-96">
      <p>Nenhuma ordem de serviço foi cadastrada ainda.</p>
    </div>
  {% endif %}
</div>
<script>
  const orders = {
    opened: parseInt("{{orders.opened}}", 10) || 0,
    ongoing: parseInt("{{orders.ongoing}}", 10) || 0,
    closed: parseInt("{{orders.closed}}", 10) || 0,
  };
  const chart = document.getElementById("stats");
  const statsChart = new Chart(chart.getContext("2d"), {
    type: "doughnut",
    data: {
      labels: ["Abertas", "Em Andamento", "Fechadas"],
      datasets: [{
        data: [orders.opened, orders.ongoing, orders.closed],
        backgroundColor: ["#15803D", "#711E6C", "#374151"],
        hoverOffset: 4,
      }, ],
    },
    options: {
      responsive: true,
      cutout: "60%",
      plugins: {
        legend: {
          display: false,
        },
      },
    },
  });
</script>
