<div class="py-6 px-4 shadow-2xl max-h-[600px] md:col-span-2 col-span-1 lg:col-span-1">
  <div class="flex items-baseline gap-2 mb-4 text-base font-semibold">
    <i class="fas fa-history"></i>
    <h2>Histórico</h2>
  </div>
  <div class="mb-3">
    {% if orders.history %}
      <div class="flex flex-col justify-between">
        {% for record in orders.history %}
          <div class="flex items-center justify-between gap-2 px-2 py-4 mb-3 text-sm border-b">
            <span>Ordem #{{ record.id }}</span>
            {% if record.history_type == "+" %}
              <div class="px-4 py-1 text-white bg-green-700 border border-green-700 rounded">Nova</div>
            {% elif record.history_type == "~" %}
              <div class="px-4 py-1 text-blue-600 bg-blue-100 border border-blue-600 rounded">Atualizada</div>
            {% else %}
              <div class="px-4 py-1 text-white bg-red-700 border border-red-700 rounded">Cancelada</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <a href="{% url "orders:history" %}" class="font-semibold text-primary">Ver Histórico</a>
    </div>
  {% else %}
    <div class="flex items-center justify-center h-96">
      <p>Nenhuma ordem de serviço foi cadastrada ainda.</p>
    </div>
  {% endif %}
</div>
