{% extends "orders/partials/accordion.html" %}
{% load widget_tweaks %}
{% block title %}
  Dados Pessoais
{% endblock title %}
{% block content %}
  <!-- Informações Básicas -->
  <div class="mb-6">
    <h2 class="mb-2 font-medium">Informações Básicas</h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="flex flex-col gap-1">
        <label for="{{ form.requested_by.id_for_label }}">Nome</label>
        {% render_field form.requested_by class="input" placeholder="Insira seu nome completo" %}
      </div>
      <div class="flex flex-col gap-1">
        <label for="{{ form.dept_name.id_for_label }}">Departamento</label>
        {% render_field form.dept_name class="input" placeholder="Selecione" %}
      </div>
    </div>
  </div>
  <!-- Informações de Contato -->
  <div class="mb-6">
    <h2 class="mb-2 font-medium">Informações de Contato</h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="flex flex-col gap-1">
        <label for="{{ form.email.id_for_label }}">E-mail</label>
        {% render_field form.email class="input" placeholder="Insira seu e-mail" %}
      </div>
      <div class="flex flex-col gap-1">
        <label for="{{ form.phone.id_for_label }}">Telefone</label>
        {% render_field form.phone class="input" placeholder="(DDD) 00000-0000" x-mask="99 99999-9999" %}
      </div>
    </div>
  </div>
{% endblock content %}
