{% extends "orders/partials/accordion.html" %}
{% block title %}
  Filtros
{% endblock title %}
{% block content %}
  <div class="grid gap-6 p-6 mb-4 bg-gray-100 md:grid-cols-3 md:place-items-end">
    <div class="grid w-full gap-4 sm:grid-cols-2 lg:grid-cols-3 md:col-span-2 sm:col-span-3">
      <div class="flex flex-col gap-1">
        <label for="filter-id" class="text-sm font-medium text-gray-700">ID</label>
        <input type="text" id="filter-id" placeholder="Insira o ID" class="input">
      </div>
      <div class="flex flex-col gap-1">
        <label for="filter-category" class="text-sm font-medium text-gray-700">Categoria</label>
        <select id="filter-category" class="input">
          <option value="">Selecione</option>
          {% for category in categories %}<option value="{{ category.name }}">{{ category.name }}</option>{% endfor %}
        </select>
      </div>
      <div class="flex flex-col gap-1">
        <label for="filter-status" class="text-sm font-medium text-gray-700">Status</label>
        <select id="filter-status" class="input">
          <option value="">Selecione</option>
          <option value="Aberto">Aberto</option>
          <option value="Em Andamento">Em Andamento</option>
          <option value="Fechado">Fechado</option>
        </select>
      </div>
      <div class="flex flex-col gap-1">
        <label for="filter-location" class="text-sm font-medium text-gray-700">Local</label>
        <input type="text"
               id="filter-location"
               placeholder="Insira o local"
               class="input">
      </div>
      <div class="flex flex-col gap-1">
        <label for="filter-start-created-at"
               class="text-sm font-medium text-gray-700">Data de Início</label>
        <input type="date" id="filter-start-created-at" class="input">
      </div>
      <div class="flex flex-col gap-1">
        <label for="filter-end-created-at" class="text-sm font-medium text-gray-700">Data de Término</label>
        <input type="date" id="filter-end-created-at" class="input">
      </div>
    </div>
    <div class="grid w-full gap-4 sm:grid-cols-1 md:grid-cols-2 md:w-fit">
      <button id="clear-filters"
              class="btn border text-primary border-primary hover:bg-primary/[.08] sm:w-full md:w-fit">Limpar</button>
      <button id="apply-filters"
              class="btn text-white bg-primary hover:bg-primary/[.95] sm:w-full md:w-fit">Filtrar</button>
    </div>
  </div>
{% endblock content %}
