<section x-data="{selected:0}" class="mb-4">
    <div>
        <div @click="selected !== 0 ? selected = 0 : selected = null"
             class="flex items-baseline gap-4 mb-4 text-xl font-medium">
            {% block section_title %}
            {% endblock section_title %}
            <i :class="selected === 0 ? 'fa-solid fa-angle-up text-primary' : 'fa-solid fa-angle-down text-primary'"></i>
        </div>
        <div x-show="selected == 0"
             x-transition:enter="transition ease-out duration-150"
             x-transition:enter-start="opacity-0 transform"
             x-transition:enter-end="opacity-100 transform"
             x-transition:leave="transition ease-in duration-250"
             x-transition:leave-start="opacity-100 transform"
             x-transition:leave-end="opacity-0 transform"
             class="text-sm font-medium">
            {% block section_content %}
            {% endblock section_content %}
        </div>
    </div>
</section>
