<div class="relative inline-block dropdown">
  <button class="text-lg dropdown-button" onClick="openDropdownMenu()">
    <i class="fa-solid fa-user"></i>
  </button>
  <menu
    id="dropdown-menu"
    class="absolute z-10 hidden p-4 text-sm bg-white border rounded shadow-lg translate-y-1/4 min-w-fit -translate-x-3/4 dropdown-content"
  >
    <li class="flex items-baseline gap-2 mb-2">
      <i class="fa-solid fa-gear"></i>
      <a href="">Configurações</a>
    </li>
    <li class="flex items-baseline gap-2">
      <i class="fa-solid fa-sign-out"></i>
      <a href="">Sair</a>
    </li>
  </menu>
</div>
