{% extends "core/partials/accordion.html" %}
{% load widget_tweaks %}
{% block title %}
  Dados Pessoais
{% endblock title %}
{% block content %}
  <!-- Informações Básicas -->
  <div class="mb-6 text-sm">
    <h2 class="mb-2 font-medium">Informações Básicas</h2>
    <div class="grid grid-cols-3 gap-8">
      <div class="flex flex-col gap-1">
        <label for="{{ form.requested_by.id_for_label }}">Nome</label>
        {% render_field form.requested_by class="border-[#8888] border rounded p-2 focus:ring-2 ring-primary focus:outline-none placeholder:font-medium" placeholder="Insira seu nome completo" %}
      </div>
      <div class="flex flex-col gap-1">
        <label for="{{ form.dept_name.id_for_label }}">Departamento</label>
        {% render_field form.dept_name class="border-[#8888] border rounded p-2 focus:ring-2 ring-primary focus:outline-none placeholder:font-medium" placeholder="Selecione" %}
      </div>
    </div>
  </div>
{% endblock content %}
