{% extends "core/partials/accordion.html" %}
{% load widget_tweaks %}
{% block title %}
  Detalhamento do Relato
{% endblock title %}
{% block content %}
  <div class="mb-6 text-sm">
    <h2 class="mb-2 font-medium">Detalhamento do Relato</h2>
    <div class="grid grid-cols-3 gap-8">
      <div class="flex flex-col gap-1">
        <label for="{{ form.title.id_for_label }}">Título</label>
        {% render_field form.title class="input" placeholder="Insira o título do relato" %}
      </div>
      <div class="flex flex-col col-span-3 gap-1">
        <label for="{{ form.report_description.id_for_label }}">Relato</label>
        {% render_field form.report_description class="input" placeholder="Insira o relato" %}
      </div>
    </div>
  </div>
{% endblock content %}
