<div class="shadow-lg">
  <ul class="px-4">
    <li class="flex gap-4 mt-4 border-b-2 text-primary">
      <div class="w-12 text-6xl text-center">
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="mb-4">
        <p class="text-sm font-medium text-black">Novas Ordens de Serviço</p>
        <p class="text-4xl font-bold">???</p>
      </div>
    </li>
    <li class="flex gap-4 mt-4 text-red-600">
      <div class="w-12 text-6xl text-center">
        <i class="fa-solid fa-exclamation"></i>
      </div>
      <div class="mb-4">
        <p class="text-sm font-medium text-black">Emergente</p>
        <p class="text-4xl font-bold">???</p>
      </div>
    </li>
  </ul>
</div>
