<div class="text-4xl bg-white shadow-2xl">
  <ul class="px-4">
    <li class="flex gap-4 mt-4 border-b-2 text-primary">
      <div class="w-12 my-auto text-center">
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="mb-4">
        <p class="text-sm font-semibold">Novas Ordens de Serviço</p>
        <p class="font-bold">0</p>
      </div>
    </li>
    <li class="flex gap-4 mt-4 text-red-600 border-b-2">
      <div class="w-12 my-auto text-center">
        <i class="fa-solid fa-exclamation"></i>
      </div>
      <div class="mb-4">
        <p class="text-sm font-semibold">Emergente</p>
        <p class="font-bold">0</p>
      </div>
    </li>
    <li class="flex gap-4 mt-4 text-yellow-600 border-b-2">
      <div class="w-12 my-auto text-center">
        <i class="fa-solid fa-circle-exclamation"></i>
      </div>
      <div class="mb-4">
        <p class="text-sm font-semibold">Urgente</p>
        <p class="font-bold">0</p>
      </div>
    </li>
    <li class="flex gap-4 mt-4 text-stone-600">
      <div class="w-12 my-auto text-4xl text-center">
        <i class="fa-solid fa-calendar-check"></i>
      </div>
      <div class="mb-4">
        <p class="text-sm font-semibold">Não Urgente</p>
        <p class="font-bold">0</p>
      </div>
    </li>
  </ul>
</div>
